[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
certifi = "*"
python-dotenv = "*"
pydantic = "*"
bcrypt = "*"
pyjwt = "*"
flask-cors = "*"
tensorflow = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
